{% import '_macros/macros' as macro %}

<footer class="row footer">
    <div class="container">
        <p>{{ now|date("Y") }} &copy; {{ siteName }}. {% if currentUser.admin %}<a href="/admin" {{ macro.external(true) }}>Control Panel</a>{% endif %} <a href="https://jaycollett.co" {{ macro.external(true) }}>Site Credits</a>
    </div>
</footer>