{# Get site structure top two levels #}
{% set pages = craft.entries.section('site').level('<= 2').all() %}

<span hidden id="menu-label">Main menu</span>
<button class="hamburger" data-hamburger aria-label="Main menu" aria-labelledby="menu-label" aria-expanded="false">Sup</button>

<nav class="menu" data-menuaria-labelledby="menu-label">
    <ul class="menu__wrap menu__wrap--top">
        {% nav page in pages %}
            <li class="menu__item">
                <a href="{{ page.url }}" class="menu__link">{{ page.title }}</a>
                
                {% ifchildren %}
                    <ul class="menu__wrap--child">
                        {% children %}
                    </ul>
                {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
</nav>