{% set nodes = craft.navigation.nodes().handle('mainNavigation').all() %}

<span hidden id="menu-label">Main menu</span>
<button class="hamburger" data-hamburger aria-label="Main menu" aria-labelledby="menu-label" aria-expanded="false">
    <span class="sr-only">Open Menu</span>
</button>

<nav class="menu" data-menuaria-labelledby="menu-label">
    <ul class="menu__wrap menu__wrap--top">
		{% nav node in nodes %}
            <li class="menu__item">
                <a href="{{ node.url }}" class="menu__link">{{ node.title }}</a>
                
                {% ifchildren %}
                    <ul class="menu__wrap--child">
                        {% children %}
                    </ul>
                {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
</nav>